@charset "UTF-8";
/* CSS Document */


.container{
	width:70%;
	margin: 0 auto;
	position: relative;
}


img{
	width:100%;
	height: auto;
}

.box1 {
	
	position: absolute;
	right: 10px;
	top: 40px;
	color: red;
	background-color:blue;
}

.box2 {
	position:fixed;
	top:0;
	left:30px;
	background-color:red;
	color: blue;
	padding: 20px 50px;
}

.box3{
	
	background-color:black;
	color:white;
	Padding: 5px 10px;
}

.box4 {
	position:static;
	background-color: red;
	top: 0;
	left: 0;
	border: 2px solid white;
}

.box5 {
	position:sticky;
	bottom: 0;
	background-color:white;
	border: 2px dotted black;
	color:blue;
	padding: 30px 30px;
	text-align: center;
}

.box6 {
	text-align:right;
	border: thick dashed;
	
}