@charset "UTF-8";
/* CSS Document */

body{ 
background-color: #C28151;
width: 100%;
height: 100%;
margin-left: 0px;
position: 0;
}

a:link{
	color: #FFE0AA;
	text-decoration: none;
}
a:visited{
	color: #FFE0AA;
}
a:hover{
	color:navajowhite;
	text-decoration: underline;
}

.TitleImage {
	background-image: url("../img/Titlepage.png");
	background-size: 100% 373px;
	width: 100%;
	height: 373px;
	margin-left:0px;
	display: flex;
	flex-direction:row;
	justify-content: center;
	position: relative;
	margin: auto;
	top: -8px;
}

.Logo {
	background-image: url("../img/CroppedPineslogo.png");
	display: flex;
	flex-direction:row;
	justify-content: center;
  	margin: auto;
	width: 350px;
	height: 350px;
	background-color:transparent;
	z-index: 10;
	position: relative;
	top: -175px;
}

#Writing1 section{
	display: flex;
	flex-direction:row;
	justify-content: center;
	position: relative;
	margin: auto;
}

.Textone {
	display: flex;
	justify-content: center;
	font-family: "instrument-serif", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200px;
	color: #253422;
	position: relative;
	top: -200px;
}

.Texttwo {
	display: flex;
	justify-content: center;
	font-family: "instrument-serif", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
	color: #253422;
	position: relative;
	top: -250px;
}
.TextThree a{
	margin:0px 70px 0px 70px;
}
.TextThree {
	display: flex;
	justify-content: center;
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;;
	font-size: 64px;
	color: #FFE0AA;
	position: relative;
	spacing: 70px;
	top: -150px;
}

.middleimage {
	background-image: url("../img/Abouthome.png");
	background-size: 100% 554px;
	width:100%;
	height: 554px;
	margin-left:0px;
	background-color:pink;
	display: flex;
	flex-direction:row;
	justify-content: center;
  	margin: auto;
	position: relative;
}

.Textfour {
	display: flex;
	text-align:center;
	justify-content: center;
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;;
	font-size: 64px;
	color: #FFE0AA;
	position: relative;
	padding-top: 150px;
	padding-bottom: 150px;
}
.bottomImage {
	background-image: url("../img/Homefire.png");
	background-size: 100% 445px;
	width:100%;
	height: 445px;
	margin-left:0px;
	display: flex;
	flex-direction:row;
	justify-content: center;
  	margin: auto;
	position: relative;
	z-index: 10;
}

#footer {
	background-color: #FFE0AA;
	background-size: 100% 450;
	width: 100%;
	height: 475px;
	margin-left:0px;
	justify-content: space-evenly;
	display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0px;
	position: relative;
}

ul {
	list-style-type: none;
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;;
	font-size: 32px;
	text-align: left;
	color: #253422;
	padding-right: 35px;
}

h3 {
	text-decoration: none;
	font-family: "instrument-serif", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
	text-align: center;
	color: #253422;
}

.Copyright {
	text-align: center;
	position: absolute;
	bottom: 0;
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;;
	font-size: 24px;
	color: #253422;
	margin-bottom: 20px
}

.logoshadow {
	background-image: url("../img/LogoBackground.png");
	background-repeat: no-repeat;
	width: 208px;
	height: 208px;
	background-color:transparent;
	z-index: 10;
	align-content: left;
}

#lightgreenbar {
	background-color: #689169;
	background-size: 100% 208;
	width: 100%;
	height: 208px;
	margin-left:0px;
	display: flex;              
  	justify-content: space-evenly;   
 	align-items: center;
	margin-top: -8px
}

.Pines {
	text-decoration: none;
	font-family: "instrument-serif", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 96px;
	text-align: center;
	color: #253422;
	padding-right: 200px;
	padding-left: 200px;
}

.Greenbar {
	background-image: url("../img/GreenBars.png");
	width: 143px;
	height: 59px;
}

#darkgreenbar {
	background-color: #253422;
	background-size: 100% 218;
	width: 100%;
	length: 218px;
	margin-left:0px;
	display: flex;              
  	justify-content: space-evenly;   
 	align-items: center;
}

.Menu {
	text-decoration: none;
	font-family: "instrument-serif", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 128px;
	text-align: center;
	color: #FFE0AA;
}

#featured {
    width: 720px;
    height: 161px;
    background-color: #FFE0AA;
    border-radius: 0px 40px 40px 0px;
	display: flex;              
  	justify-content: space-evenly;   
 	align-items: center;
}

.Featured {
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
	color: #253422;
}

#featuredfood1 {
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
	position: relative;
	display: grid;
 	grid-template-columns: repeat(3, 1fr); 
 	gap: 30px;
	margin-left: 95px;
}

.WedgeSalad {
	background-image: url("../img/WedgeSalad.png");
	width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 200px;
}

.Foodtext {
	text-align: center;
	margin-top: 350px;
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	color: #253422;
}
.Subtext {
	text-align: center;
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	color: #253422;
	line-height: 20px;
}

.PoachedFish{
	background-image: url("../img/PoachedFish.png");
	width:315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 200px;
}

.BeefandGreens {
	background-image: url("../img/BeefandGreens.png");
	Width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 200px;
}


.Meatballs {
	background-image: url("../img/MeatballsandEggplant.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 455px;
}

.ChickenandWaffles {
	background-image: url("../img/ChickenandWaffles.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 455px;
}

#appetizers {
    width: 720px;
    height: 161px;
    background-color: #FFE0AA;
    border-radius: 0px 40px 40px 0px;
	display: flex;              
  	justify-content: space-evenly;   
 	align-items: center;
}

.appetizers{
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
	color: #253422;
}

#allappetizers {
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
	position: relative;
	display: grid;
 	grid-template-columns: repeat(3, 1fr); 
 	gap: 30px;
	margin-left: 95px;
}

.Tortilla {
	background-image: url("../img/ChipswithDip.png");
	Width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 300px;
}

.GreenBeans {
	background-image: url("../img/SeasonedGreenBeans.png");
	Width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 300px;
}

.Chickenbiites {
	background-image: url("../img/SkeweredChickenBites.png");
	Width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 300px;
}

.Deviledeggs {
	background-image: url("../img/DeviledEggs.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 455px;
}

 #entrees {
    width: 720px;
    height: 161px;
    background-color: #FFE0AA;
    border-radius: 0px 40px 40px 0px;
	display: flex;              
  	justify-content: space-evenly;   
 	align-items: center;
}

.entrees{
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
	color: #253422;
}

#allaentrees {
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
	position: relative;
	display: grid;
 	grid-template-columns: repeat(3, 1fr); 
 	gap: 30px;
	margin-left: 95px;
}

.Linguine {
	background-image: url("../img/Linguine.png");
	Width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 250px;
}
.Greencurry {
	background-image: url("../img/GreenCurry.png");
	Width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 250px;
}
.soup {
	background-image: url("../img/PeaChickenSoup.png");
	Width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 250px;
}
.Ribs {
	background-image: url("../img/ShortRibs.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 250px;
}
.greens {
	background-image: url("../img/ChickenwithGreens.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 250px;
}
.Lettuce {
	background-image: url("../img/ChickenLettuceWraps.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 250px;
}
.potato {
	background-image: url("../img/PotatoFritata.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 455px;
}
.peru {
	background-image: url("../img/PeruvianChicken.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 455px;
}

#Dessert {
    width: 720px;
    height: 161px;
    background-color: #FFE0AA;
    border-radius: 0px 40px 40px 0px;
	display: flex;              
  	justify-content: space-evenly;   
 	align-items: center;
}

.Dessert{
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
	color: #253422;
}

#alldessert {
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
	position: relative;
	display: grid;
 	grid-template-columns: repeat(3, 1fr); 
 	gap: 30px;
	margin-left: 95px;
}

.cake {
	background-image: url("../img/CoconutCakeSlice.png");
	Width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 300px;
}
.icecream {
	background-image: url("../img/PistachioIceCreamwithCookieCenter.png");
	Width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 300px;
}
.mint {
	background-image: url("../img/LayeredMintChocolate.png");
	Width: 315px;
	height: 315px;
	margin-top: 80px;
	margin-bottom: 300px;
}
.vanilla {
	background-image: url("../img/VanillaTruffles.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 300px;
}
.pie {
	background-image: url("../img/PumpkinPieSlice.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 300px;
}
.cream {
	background-image: url("../img/CookiesNCreamMilkshake.png");
	Width: 315px;
	height: 315px;
	margin-bottom: 300px;
}



