@charset "UTF-8";
/* CSS Document */

body{ 
background-color: #C28151;
width: 100%;
height: 3243px;
margin-left: 0px;
position: 0;

}
a:link{
	color: #FFE0AA;
	text-decoration: none;
}
a:visited{
	color: #FFE0AA;
}
a:hover{
	color:navajowhite;
	text-decoration: underline;
}


.TitleImage {
	background-image: url("Titlepage.png");
	background-size: 100% 373px;
	width: 100%;
	height: 373px;
	margin-left:0px;
	display: flex;
	flex-direction:row;
	justify-content: center;
	position: relative;
	margin: auto;
	top: -8px;
}

.Logo {
	background-image: url("CroppedPineslogo.png");
	display: flex;
	flex-direction:row;
	justify-content: center;
  	margin: auto;
	width: 350px;
	height: 350px;
	background-color:transparent;
	z-index: 10;
	position: relative;
	top: -175px;
}

#Writing1 section{
	display: flex;
	flex-direction:row;
	justify-content: center;
	position: relative;
	margin: auto;
}

.Textone {
	display: flex;
	justify-content: center;
	font-family: "instrument-serif", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200px;
	color: #253422;
	position: relative;
	top: -200px;
}

.Texttwo {
	display: flex;
	justify-content: center;
	font-family: "instrument-serif", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
	color: #253422;
	position: relative;
	top: -250px;
}
.TextThree a{
	margin:0px 70px 0px 70px;
}
.TextThree {
	display: flex;
	justify-content: center;
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;;
	font-size: 64px;
	color: #FFE0AA;
	position: relative;
	spacing: 70px;
	top: -150px;
}

.middleimage {
	background-image: url("Abouthome.png");
	background-size: 100% 554px;
	width:100%;
	height: 554px;
	margin-left:0px;
	background-color:pink;
	display: flex;
	flex-direction:row;
	justify-content: center;
  	margin: auto;
	position: relative;
}

.Textfour {
	display: flex;
	text-align:center;
	justify-content: center;
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;;
	font-size: 64px;
	color: #FFE0AA;
	position: relative;
	padding-top: 150px;
	padding-bottom: 150px;
}
.bottomImage {
	background-image: url("Homefire.png");
	background-size: 100% 445px;
	width:100%;
	height: 445px;
	margin-left:0px;
	display: flex;
	flex-direction:row;
	justify-content: center;
  	margin: auto;
	position: relative;
	z-index: 10;
}

#footer {
	background-color: #FFE0AA;
	background-size: 100% 450;
	width: 100%;
	height: 475px;
	margin-left:0px;
	justify-content: space-evenly;
	display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0px;
	position: relative;
}

ul {
	list-style-type: none;
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;;
	font-size: 32px;
	text-align: left;
	color: #253422;
	padding-right: 35px;
}

h3 {
	text-decoration: none;
	font-family: "instrument-serif", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
	text-align: center;
	color: #253422;
}

.Copyright {
	text-align: center;
	position: absolute;
	bottom: 0;
	font-family: "libre-caslon-display", sans-serif;
	font-weight: 400;
	font-style: normal;;
	font-size: 24px;
	color: #253422;
}

